<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="nyumonpropertyplugin2.properties.KatekatePropertyPage"
            icon="icons/fishblue.gif"
            id="nyumonpropertyplugin2.properties.samplePropertyPage"
            name="かてごりなページ"
            nameFilter="*.txt">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
